@font-face {
    font-family: 'Santorini';
    src: url('../fonts/SantoriniRegular.ttf') format('truetype');
}
.body {
    --button-line: #1d1035;
}
.mokenlabs {
    background-color: #fff;
    color: #1d1035;
}
a {
    color: #231342;
}
.logo-text {
    color: #1d1035;
    font-weight: 700;
}
.header-text {
    max-width: 804px;
}
.section-title:before,
.nmu-list ul a::before,
.scrolling-right::before {
    background-color: #1d1035;
}
.hamburger {
    border: 1px solid #1d1035;
}

.s-half-img .section-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px 10px 160px;
}

.s-half-img .section-item {
    max-width: 484px;
}
.s-half-img .item-title {
    line-height: 1.1;
    max-width: 380px;
    margin-bottom: 35px;
    font-weight: 700 !important;
}
.s-half-img:nth-of-type(2) .section-items {
    padding-top: 130px;
}
.s-half-img:nth-of-type(2n) .section-item {
    padding-right: 40px;
}
.s-half-img:nth-of-type(2) .item-title {
    max-width: 340px;
}
.s-half-img .item-btn {
    margin-top: 35px;
}
.s-half-img:nth-of-type(2n+1) .section-items {
    flex-direction: row-reverse;  
    padding: 0 160px 10px 80px;
}
.s-half-img:nth-of-type(2n+1) .section-item {
    padding-left: 40px;
}
.block-media {
    position: relative;
}
.s-half-img img {
    width: 640px;
    height: auto;
}
.s-half-img .block-media svg {
    position: absolute;
    top: 95px;
    right: -295px;
}
.s-half-img:nth-of-type(2) .block-media svg {
    position: absolute;
    top: auto;
    bottom: 20px;
    left: -323px;
    right: auto;
}


/* s-program-benefits */
.s-program-benefits {
    color: #fff;
    z-index: 1;
}

.program-slider-wrap {
    background-image: radial-gradient(circle at 100% -1%, #261546, #0b021d 99%);
    padding: 65px 0 65px;
    position: relative;
    left: 50px;
}
.program-slider-wrap ul {
    padding: 0;
}
.program-slider-item {
    width: 464px;
    border: solid 1px #ffffff;
    padding: 55px 70px;
    margin: 10px;
}
.program-slider-item:last-of-type {
    margin-right: 30px;
}
.program-number {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -2px;
    margin: 40px 0 10px;
}
.program-slider-item-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -2px;
}
.program-slider-item p {
    height: 325px;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.4;
    margin: 50px 0 0;
    overflow-y: auto;
}
.program-slider-item .low-text {
    font-size: 13px;
}
.program-title-block {
    border: none;
    width: 550px;
    padding: 85px 0 0 70px;
}
.program-title-block .section-title {
    position: relative;
    font-weight: 600;
}
.program-title-block .section-title:before {
    background-color: #fff;
}
.program-title-block .program-title {
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: -2.75px;
    font-weight: 600;
    margin: 70px 0 0 100px;
}

.program-title-block .program-title span {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0;
    margin-top: 30px;
}
.program-title-block .program-title span:first-child {
    margin-top: 20px;
    font-weight: 200;
    line-height: 1.5;
    max-width: 316px;
}


/* s-transforming-ideas */

.s-transforming-ideas {
    position: relative;
    margin-top: -90px;
    z-index: 0;
    margin-bottom: 110px;
}
.s-transforming-ideas .section-title {
    position: absolute;
    top: 180px;
    font-size: 20px;
    font-weight: 700;
    max-width: 183px;
    padding-left: 166px;
    z-index: 1;
}
.s-transforming-ideas .section-title:before {
    height: 1px;
    width: 51px;
    top: 14px;
}
.transforming-ideas-content {
    background-color: #eeeceb;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "ideas-title ideas-title counter-1 counter-2"
    "ideas-title ideas-title counter-3 counter-letter";
    grid-gap: 60px 20px;
    width: 92%;
    padding: 230px 40px 100px 13%;
}
.transforming-ideas-title {
    grid-area: ideas-title;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.transforming-item:nth-of-type(2) {
    grid-area: counter-1;
}
.transforming-item:nth-of-type(3) {
    grid-area: counter-2;
}
.transforming-item:nth-of-type(4) {
    grid-area: counter-3;
}
.transforming-item:nth-of-type(5) {
    grid-area: counter-letter;
}
.transforming-ideas-title, .transforming-item .counter, .counter-letter {
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: -3.75px;
    font-weight: 700;   
}
.transforming-ideas-title {
    max-width: 360px;  
}
.transforming-item {
    position: relative;
}
.transforming-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 1px;
    background-color: #1d1035;
}
.transforming-item .counter, .counter-letter {
    margin: 25px 0 8px;
}
.counter-letter span {
    visibility: hidden;
}
.counter-letter-lt {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
}

.transforming-item p {
    font-size: 14px;
}

/* s-curriculum */
.s-curriculum {
    position: relative;
    padding: 90px 0 0 50px;
}
.curriculum-slider-wrap {
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}
.curriculum-slider-wrap:before {
    content: "";
    height: 100%;
    width: 250px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.s-curriculum .section-title {
    position: relative;
}
.curriculum-slider-item {
    width: 270px;
    margin: 0 30px;
}
.curriculum-subtitle {
    font-size: 14px;
    letter-spacing: -1.05px;
    font-weight: 700;
}
.curriculum-slider-item-title {
    font-size: 47px;
    line-height: 1.1;
    letter-spacing: -3.75px;
    color: #ffb727;
    font-weight: 700;
    margin: 15px 0 25px;
}
.curriculum-slider-item p {
    font-size: 14px;
    font-weight: 300;
}
.s-curriculum .flickity-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: solid 1.3px #1d1035;
    background-color: transparent;
    position: absolute;
    top: 54%;
    left: 65px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.s-curriculum .flickity-prev-next-button.next {
    left: 145px;
}
.s-curriculum .flickity-prev-next-button:hover {
    background-color: #1d1035;
}
.s-curriculum .flickity-prev-next-button:hover .flickity-button-icon {
    fill: #fff;
}
.s-curriculum .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    pointer-events: none;
}
.s-curriculum .flickity-prev-next-button .flickity-button-icon {
    position: relative;
    width: 25%;
    height: 25%;
}
.s-curriculum .flickity-button-icon {
    fill: #000;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.brands-line-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 175px 7vw 90px;
}

/* s-incubator */
.s-incubator {
    position: relative;
}
.incubator-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px 100px 8%;
}
.incubator-info {
    max-width: 300px;
    padding: 0 20px 10px 0;
}
.incubator-info span {
    font-size: 100px;
    line-height: 1;
    letter-spacing: -3.75px;
    color: #38dbc3;
    font-weight: 700;
}
.incubator-subtitle {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    margin: 8px 0 28px;
}
.incubator-info p {
    font-size: 14px; 
    font-weight: 300;
    line-height: 1.5;
}
.incubator-info .item-btn {
    margin-top: 60px;
}
.incubator-title {
    font-size: 56.7px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -4px;
    color: #110626;
    max-width: 758px;
    margin-top: 30px;
}
.incubator-title span {
    color: #38dbc3;
}
.incubator-title .incubator-and {
    color: #ffb727;
    position: relative;
    display: inline-block;
}
.incubator-title .incubator-and:before {
    content: "and";
    position: absolute;
    font-family: 'Santorini', sans-serif;
    color: #110626;
    font-size: 63px;
    left: 20px;
    top: -19px;
    font-weight: 300;
    letter-spacing: -6.3px;
}
.incubator-title .incubator-growth {
    display: inline-block;
    font-family: 'Santorini', sans-serif;
    color: #ffb727;
    transform: rotate(-4deg);
    font-size: 56.7px;
    line-height: 1;
    letter-spacing: -5.67px;
    padding: 0 10px;
    top: -12px;
    font-weight: 300;
    position: relative;
}
.dark-btn {
    text-align: left;
    margin-top: 60px;
}
.dark-btn a {
    border-radius: 23.5px;
    background-color: #1d1035;
    border: 1px solid #1d1035;
    color: #fff;
    font-size: 16.2px;
    letter-spacing: -0.24px;
    padding: 11px 45px;
    font-weight: 600;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.dark-btn a:hover {
    color: #1d1035;
    background-color: #fff;
}




@media (max-width: 1440px) {
    .s-half-img img {
        width: 100%;
    }
}
@media (max-width: 1280px) {
    .s-half-img:nth-of-type(2) .section-items {
        padding-top: 70px;
    }
    .incubator-title {
        max-width: 606px;
    }
}
@media (max-width: 991px) {
    .header-title {
        font-size: 26px;
    }
    .s-half-img img {
        width: 208px;
    }
    .s-half-img .section-items {
        flex-direction: column-reverse !important;
    }
    .s-half-img .block-media svg {
        display: none;
    }
    .transforming-ideas-content {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "ideas-title ideas-title"
            "counter-1 counter-2"
            "counter-3 counter-letter";
        grid-gap: 35px 20px;
        width: 95%;
        padding: 170px 25px 45px;
    }
    .transforming-ideas-title, .transforming-item .counter, .counter-letter {
        font-size: 30px;
        letter-spacing: -2.75px;
    }
    .s-transforming-ideas {
        margin-top: -150px;
        margin-bottom: 40px;
    }
    .program-slider-wrap {
        padding: 65px 0 65px;
        left: 0;
        width: 106%;
    }
    .s-program-benefits {
        overflow-x: hidden;
    }
    .transforming-item p {
        font-size: 12px;
    }
    .block-media {
        width: 100%;
        text-align: left;
        margin-bottom: 115px;
    }
    .s-half-img .section-item {
        padding: 0 !important;
    }
    .brands-line-block {
        flex-wrap: wrap;
        padding: 35px 0 0;
    }
    .brands-line-block a {
        margin: 20px;
    }
    .transforming-ideas-title {
        max-width: 270px;
    }
    .s-transforming-ideas .section-title {
        position: relative;
        font-size: 18px;
        padding-left: 88px;
        margin: 20px 0 40px;
        line-height: 1.1;
    }
    .s-curriculum .flickity-button {
        width: 30px;
        height: 30px;
        top: 25px;
        left: 0;
        position: relative;
    }
    .s-curriculum {
        position: relative;
        padding: 75px 25px 0;
    }
    .s-curriculum .flickity-prev-next-button.next {
        left: 40px;
        top: -5px;
    }
    .curriculum-slider-wrap:before {
        display: none;
    }
    .curriculum-slider-item-title {
        font-size: 34px;
        letter-spacing: -1.75px;
    }
    .curriculum-slider-item p,
    .incubator-info p {
        font-size: 12px;
        line-height: 1.5;
    }
    .curriculum-subtitle {
        font-size: 12px;
        letter-spacing: -0.5px;
    }
    .s-curriculum .flickity-prev-next-button .flickity-button-icon {
        width: 50%;
        height: 50%;
    }
    .incubator-content {
        padding: 20px 0 25px;
        flex-direction: column;
    }
    .incubator-info {
        max-width: 100%;
        padding: 0 0 50px 0;
    }
    .incubator-info .item-btn {
        margin-top: 30px;
    }
    .incubator-info span {
        font-size: 50px;
        letter-spacing: -1.25px;
    }
    .incubator-subtitle {
        font-size: 14px;
        margin: 4px 0 17px;
    }
    .incubator-title {
        font-size: 26px;
        letter-spacing: -2px;
        margin-top: 5px;
    }
    .incubator-title .incubator-and:before {
        font-size: 34px;
        left: 7px;
        top: -11px;
        letter-spacing: -3.3px;
    }
    .incubator-title .incubator-growth {
        font-size: 26px;
        letter-spacing: -0.67px;
        padding: 0 4px;
        top: -9px;
    }
    .dark-btn {
        margin-top: 30px;
    }
    .dark-btn a {
        font-size: 12px;
        padding: 7px 35px;
    }
}
@media (max-width: 767px) {
    .program-slider-wrap {
        padding: 30px 0;
    }
    .program-slider-item {
        width: 300px;
        padding: 23px 35px;
        margin: 10px;
    }
    .program-title-block .program-title {
        font-size: 30px;
        letter-spacing: -2.75px;
        margin: 70px 0 0 0;
    }
    .program-number, .program-slider-item-title {
        font-size: 19px;
        letter-spacing: -1.35px;
        margin: 18px 0 10px;
    }
    .program-slider-item p {
        height: 280px;
        overflow: auto;
        font-size: 12px;
        margin: 25px 0 0;
    }
    .program-title-block .program-title span {
        font-size: 12px;
        letter-spacing: -0.15px;
        margin-top: 30px;
    }
}
@media (max-width: 480px) {
    .program-slider-wrap {
        width: 109%;
    }
    .s-half-img .section-items {
        padding: 70px 0 0 !important;
    }
    .s-half-img:nth-of-type(2) .section-items {
        padding-top: 0 !important;
    }
    .s-half-img:nth-of-type(2) .block-media {
        text-align: right;
    }
    .mokenlabs .s-interested a span::after, .mokenlabs .s-interested button span::after {
        top: -2.5px;
    }
}