@font-face {
    font-family: 'Santorini';
    src: url('../fonts/SantoriniRegular.ttf') format('truetype');
}
.body {
    --button-line: #1d1035;
}
.entrepreneurship-academy {
    background-color: #fff;
    color: #1d1035;
}
a {
    color: #231342;
}
.logo-text {
    color: #1d1035;
    font-weight: 700;
}
.header-text {
    max-width: 656px;
}
.section-title:before,
.nmu-list ul a::before,
.scrolling-right::before {
    background-color: #1d1035;
}
.hamburger {
    border: 1px solid #1d1035;
}
.entrepreneurship-academy .header-text {
    max-width: 838px;
    margin: 9% auto 60px 15%;
}

.entrepreneurship-academy .header-title {
    font-size: 50px;
    letter-spacing: -3.75px;
    max-width: 815px;
}
.entrepreneurship-academy .header-text p {
    max-width: 100%;
}
.dark-btn {
    text-align: left;
    margin-top: 60px;
}
.dark-btn a {
    border-radius: 23.5px;
    background-color: #1d1035;
    border: 1px solid #1d1035;
    color: #fff;
    font-size: 16.2px;
    letter-spacing: -0.24px;
    padding: 11px 45px;
    font-weight: 600;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.dark-btn a:hover {
    color: #1d1035;
    background-color: #fff;
}
.dark-btn a:nth-of-type(2) {
    color: #1d1035;
    background-color: #fff;
    font-weight: 700;
    margin-left: 35px;
}
.dark-btn a:nth-of-type(2):hover {
    color: #fff;
    background-color: #1d1035;
}

/* s-program-benefits */
.s-program-benefits {
    color: #fff;
    z-index: 1;
    padding: 0;
}
.program-slider-wrap {
    background-image: radial-gradient(circle at 100% -1%, #261546, #0b021d 99%);
    padding: 65px 0 65px;
    position: relative;
    left: 0;
}
.program-slider-wrap ul {
    padding: 0;
}
.program-slider-item {
    width: 464px;
    border: solid 1px #ffffff;
    padding: 55px 70px;
    margin: 10px;
}
.program-slider-item:last-of-type {
    margin-right: 30px;
}
.program-number {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -2px;
    margin: 40px 0 10px;
}
.program-slider-item-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -2px;
    min-height: 75px;
}
.program-slider-item p {
    height: 325px;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.4;
    margin: 10px 0 0;
    overflow-y: auto;
}
.program-slider-item .low-text {
    font-size: 13px;
}
.program-title-block {
    border: none;
    width: 550px;
    padding: 85px 0 0 70px;
}
.program-title-block .section-title {
    position: relative;
    font-weight: 600;
}
.program-title-block .section-title:before {
    background-color: #fff;
}
.program-title-block .program-title {
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: -2.75px;
    font-weight: 600;
    margin: 70px 0 0 100px;
}
.program-title-block .program-title span {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0;
    margin-top: 45px;
}


/* s-innovation */

.s-innovation {
    position: relative;
    padding: 90px 0;
}
.innovation-content {
    display: flex;
    padding: 0 95px;

}
.innovation-stat {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -2.25px;
    color: #38dbc3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.innovation-stat span {
    font-size: 480px;
    letter-spacing: -3.6px;
    font-weight: 300;
    position: relative;
    top: -55px;
    line-height: 0.75;
    margin-right: 40px;
    width: 413px;
}
.innovation-title {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: -3.75px;
    max-width: 380px;
    margin: 20px auto;
}
.innovation-title span {
    color: #38dbc3;
    position: relative;
    display: inline-block;
}
.innovation-title span.word-elevating {
    color: #ffb727;
}
.innovation-title span.word-elevating::before {
    content: "elevating";
    position: absolute;
    font-family: 'Santorini', sans-serif;
    color: #110626;
    font-size: 75px;
    left: 20px;
    top: -14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}


/* s-curriculum */
.s-curriculum {
    position: relative;
    padding: 90px 0 0 50px;
}
.curriculum-slider-wrap {
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}
.curriculum-slider-wrap:before {
    content: "";
    height: 100%;
    width: 250px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.s-curriculum .section-title {
    position: relative;
}
.curriculum-slider-item {
    width: 270px;
    margin: 0 30px;
}
.curriculum-subtitle {
    font-size: 14px;
    letter-spacing: -1.05px;
    font-weight: 700;
}
.curriculum-slider-item-title {
    font-size: 47px;
    line-height: 1.1;
    letter-spacing: -3.75px;
    color: #ffb727;
    font-weight: 700;
    margin: 15px 0 25px;
}
.curriculum-slider-item p {
    font-size: 14px;
    font-weight: 300;
}
.s-curriculum .flickity-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: solid 1.3px #1d1035;
    background-color: transparent;
    position: absolute;
    top: 54%;
    left: 65px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.s-curriculum .flickity-prev-next-button.next {
    left: 145px;
}
.s-curriculum .flickity-prev-next-button:hover {
    background-color: #1d1035;
}
.s-curriculum .flickity-prev-next-button:hover .flickity-button-icon {
    fill: #fff;
}
.s-curriculum .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    pointer-events: none;
}
.s-curriculum .flickity-prev-next-button .flickity-button-icon {
    position: relative;
    width: 25%;
    height: 25%;
}
.s-curriculum .flickity-button-icon {
    fill: #000;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.brands-line-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 175px 7vw 90px;
}


/* s-incubator */
.s-incubator {
    position: relative;
}
.incubator-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px 100px 8%;
}
.incubator-info {
    max-width: 300px;
    padding: 0 20px 10px 0;
}
.incubator-info span {
    font-size: 100px;
    line-height: 1;
    letter-spacing: -3.75px;
    color: #38dbc3;
    font-weight: 700;
}
.incubator-subtitle {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    margin: 8px 0 28px;
}
.incubator-info p {
    font-size: 14px; 
    font-weight: 300;
    line-height: 1.5;
}
.incubator-info .item-btn {
    margin-top: 60px;
}
.incubator-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -4px;
    color: #110626;
    max-width: 666px;
    margin-top: 30px;
}
.incubator-title span {
    color: #38dbc3;
}
.incubator-title .incubator-and {
    color: #ffb727;
    position: relative;
}
.incubator-title .incubator-and:before {
    content: "and";
    position: absolute;
    font-family: 'Santorini', sans-serif;
    color: #110626;
    font-size: 51px;
    left: 20px;
    top: -4px;
    font-weight: 300;
    letter-spacing: -5.1px;
}
.incubator-title .incubator-growth {
    display: inline-block;
    font-family: 'Santorini', sans-serif;
    color: #ffb727;
    transform: rotate(-4deg);
    font-size: 46px;
    line-height: 1;
    letter-spacing: -4.59px;
    padding: 0 10px;
    top: -12px;
    font-weight: 100;
    position: relative;
}


@media (max-width: 1280px) {
    .innovation-content {
        padding: 0 75px;
    }
    .incubator-title {
        max-width: 606px;
    }
    .innovation-stat span {
        font-size: 440px;
        width: 370px;
    }
    .innovation-title {
        font-size: 66px;
        max-width: 354px;
    }
}
@media (max-width: 991px) {
    .header-title {
        font-size: 26px;
    }
    
    .program-slider-wrap {
        padding: 65px 80px 65px 90px;
        left: 0;
        width: 106%;
        margin-top: 50px;
    }
    .s-program-benefits {
        overflow-x: hidden;
    }
    .s-curriculum .flickity-button {
        width: 30px;
        height: 30px;
        top: 25px;
        left: 0;
        position: relative;
    }
    .s-curriculum {
        position: relative;
        padding: 75px 25px 0;
    }
    .s-curriculum .flickity-prev-next-button.next {
        left: 40px;
        top: -5px;
    }
    .curriculum-slider-wrap:before {
        display: none;
    }
    .curriculum-slider-item-title {
        font-size: 34px;
        letter-spacing: -1.75px;
        max-width: 200px;
    }
    .curriculum-slider-item p,
    .incubator-info p {
        font-size: 12px;
        line-height: 1.5;
    }
    .curriculum-subtitle {
        font-size: 12px;
        letter-spacing: -0.5px;
    }
    .s-curriculum .flickity-prev-next-button .flickity-button-icon {
        width: 50%;
        height: 50%;
    }
    .incubator-content {
        padding: 20px 0 25px;
        flex-direction: column;
    }
    .incubator-info {
        max-width: 100%;
        padding: 0 0 50px 0;
    }
    .incubator-info .item-btn {
        margin-top: 30px;
    }
    .incubator-info span {
        font-size: 50px;
        letter-spacing: -1.25px;
    }
    .incubator-subtitle {
        font-size: 14px;
        margin: 4px 0 17px;
    }
    .incubator-title {
        font-size: 26px;
        letter-spacing: -2px;
        margin-top: 5px;
    }
    .incubator-title .incubator-and:before {
        font-size: 34px;
        left: 7px;
        top: -11px;
        letter-spacing: -3.3px;
    }
    .incubator-title .incubator-growth {
        font-size: 26px;
        letter-spacing: -0.67px;
        padding: 0 4px;
        top: -9px;
    }
    .innovation-title span.word-elevating::before {
        font-size: 36px;
        letter-spacing: 3.67px;
        padding: 0 4px;
        top: -5px;
        left: 10px;
    }
    .dark-btn {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header-text .dark-btn {
        margin-top: 20px;
    }
    .dark-btn a {
        font-size: 12px;
        padding: 7px 35px;
    }
    .dark-btn a:nth-of-type(2) {
        margin-left: 0;
        margin-top: 10px;
    }
    .program-btn a:nth-of-type(2) {
        margin-left: 30px;
    }
    .innovation-stat span {
        font-size: 242px;
        letter-spacing: -1.81px;
        width: auto;
        top: 0;
        margin: 0 0 30px;
        font-weight: 600;
    }
    .innovation-stat {
        font-size: 18px;
        letter-spacing: -1.35px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .innovation-title {
        font-size: 42px;
        max-width: 240px;
        line-height: 1.14;
        letter-spacing: -2.25px;
        margin: 82px auto 0;
    }
    .innovation-content {
        padding: 0 25px;
        flex-direction: column;
    }
    .entrepreneurship-academy .header-title {
        font-size: 27px;
        letter-spacing: -2.03px;
        max-width: 249px;
    }
    .entrepreneurship-academy .header-text {
        max-width: 100%;
        margin: 75px auto 60px;
    }
    
}
@media (max-width: 767px) {
    .program-slider-wrap {
        padding: 30px 20px;
    }
    .program-slider-item:last-of-type {
        margin-right: 15px;
    }
    .program-slider-item {
        width: 300px;
        padding: 23px 35px;
        margin: 10px;
    }
    .program-title-block .program-title {
        font-size: 42px;
        letter-spacing: -2.75px;
        margin: 70px 0 0 20px;
    }
    .program-number, .program-slider-item-title {
        font-size: 19px;
        letter-spacing: -1.35px;
        margin: 18px 0 10px;
    }
    .program-number {
        font-size: 30px;
    }
    .program-slider-item p {
        height: 240px;
        overflow: auto;
        font-size: 10px;
    }
    .program-slider-item-title {
        min-height: 50px;
        margin: 10px 0 10px;
    }
    .program-slider-item .low-text {
        font-size: 10px;
    }
    .program-title-block .program-title span {
        font-size: 12px;
        letter-spacing: -0.15px;
        margin-top: 30px;
    }
    .program-title-block {
        width: 203px;
        padding: 23px 35px 0 0;
    }
}
@media (max-width: 480px) {
    .program-slider-wrap {
        width: 100%;
    }
}